body{
    font-family: roboto;
    overflow-x: hidden;
}
.btn-search{
    padding: 2%;
    background-color: #e30613;
    border-radius: 10%;
}
.bg-danger{
    background-color: #e30613;
}
.text-danger{
    color: #e30613 !important;
}
.btn-navbar{
    border: 1px #fff solid;
}
.btn-navbar:hover{
    cursor: pointer !important;
    color: #e30613 !important;
    background-color: #fff;
}
/* .card-produit{
    height: 21em !important;
}
.card-corps{
    padding-bottom: 3em !important;

} */
.txt-cart{
    font-size: 13px;
}
.img-barn img:hover{
    -webkit-transform: scale(1);
	transform: scale(1.1);
}
.text-product{
    font-size: 10px !important;
}
.lgrs img{
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.lgrs img:hover{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}
/* #conteneur-card{
    max-height: 500px;
} */